<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-8.0</feature>
        <feature>cdi-2.0</feature>
        <feature>jndi-1.0</feature>
        <feature>adminCenter-1.0</feature>
        <feature>ejbRemote-3.2</feature>
        <feature>wasJmsClient-2.0</feature>
        <feature>wasJmsServer-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>transportSecurity-1.0</feature>
        <!--
        <feature>appClientSupport-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>jsp-2.3</feature>
        <feature>ejb-3.2</feature>
        <feature>cdi-2.0</feature>
        <feature>ejbRemote-3.2</feature>
        <feature>localConnector-1.0</feature>
        <feature>jndi-1.0</feature>
        -->
        <!-- <feature>replicatedCache-1.0</feature> -->
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443"/>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime --> 
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore" trustDefaultCerts="true" clientAuthenticationSupported="true" clientAuthentication="false"/>

    <!--<keyStore id="defaultKeyStore" password="diamigoyentra"/>-->
    <keyStore id="defaultKeyStore" password="{xor}OzY+MjY4MCY6MSstPg==" />

    <iiopEndpoint id="defaultIiopEndpoint" host="192.168.0.190" iiopPort="2809">
         <iiopsOptions iiopsPort="2810" sslRef="defaultSSLConfig" suppressHandshakeErrors="true"/>
    </iiopEndpoint>

    <orb id="defaultOrb" nameService="corbaname::192.168.0.190:2809">
        <serverPolicy.csiv2>
            <layers>
                <attributeLayer identityAssertionEnabled="false"/>
                <authenticationLayer mechanisms="LTPA,GSSUP" establishTrustInClient="Supported"/>
                <transportLayer sslRef="defaultSSLConfig"/>
            </layers>
        </serverPolicy.csiv2>
        <clientPolicy.csiv2>
            <layers>
                <attributeLayer identityAssertionEnabled="false"/>
                <authenticationLayer mechanisms="LTPA,GSSUP" establishTrustInClient="Supported"/>
                <transportLayer sslRef="defaultSSLConfig"/>
            </layers>
        </clientPolicy.csiv2>
    </orb>

    <dataSource id="postgresql" jndiName="jdbc/openlibertydb">
        <jdbcDriver libraryRef="PostgreSQLLib"/>
        <properties databaseName="ejb-app" serverName="postgresql" portNumber="5432" user="postgres" password="admin"/>
    </dataSource>

    <library id="PostgreSQLLib">
        <fileset dir="/home/javi/" includes="postgresql-42.6.0.jar"/>
    </library>

    <!--
    <ejbContainer replicationDomainRef="openLibertyDomain">
      <session id="EjbStatefulRemote" type="Stateful">
        <jndiName>com.ibm.ws.ejbcontainer.osgi.internal.naming.EJBRemoteReferenceBinding</jndiName>

        <ejbClass>org.ratoncio.EjbStatefulRemote</ejbClass>
      </session>
    </ejbContainer>
    -->

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>


    <basicRegistry id="basic">
        <user name="javi" password="javi"/>
        <user name="admin" password="admin"/>
    </basicRegistry>
    <administrator-role>
        <user>admin</user>
    </administrator-role>
    
    <remoteFileAccess>
        <writeDir>${server.config.dir}</writeDir>
    </remoteFileAccess>

    <messagingEngine>
        <queue id="cola01"/>
    </messagingEngine>
    <wasJmsEndpoint host="*" wasJmsPort="7276" wasJmsSSLPort="7286"/>

    <jmsQueueConnectionFactory jndiName="jms/JmsFactory">
        <properties.wasJms remoteServerAddress="localhost:7276:BootStrapBasicMessaging"/>
    </jmsQueueConnectionFactory>

    <jmsQueue id="simpleJmsQueue" jndiName="jms/JmsQueue">
        <properties.wasJms queueName="cola01"/>
    </jmsQueue>

    <jmsActivationSpec  id="ejb-app/JmsMessageReader" >
        <properties.wasJms destinationRef="jms/JmsQueue"/>
    </jmsActivationSpec>

 </server>
